*,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

a,
button {
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: Inter, sans-serif;
  background-color: #e9e3ff;
}
